body {
    opacity: 0.95;
    background-image: url('../img/shell-back.jpg');
    background-repeat: no-repeat;
    /* background-position: 100% 0; */
    background-size: cover;
    background-attachment: fixed;
}

/* 头部导航栏 */
.top-bar-nav {
    position: fixed;
    display: flex;
    width: 100%;
    background-color: #f9f9f9;
    height: 70px;
    line-height: 70px;
    align-items: center;
    border-bottom: #00AEEC 2px solid;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
    justify-content: space-between;
}

/* 搜索框 */
#top-seo {
    width: 285px;
    height: 40px;
    margin-left: 4%;
    background-color: #fbfbfb;
    border-radius: 6px;
    border: 1px solid #e3e3e3;
}

#search-text {
    float: left;
    width: 220px;
    height: 32px;
    margin: 4px;
    padding-left: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}

#search-text:focus {
    background-color: #DADFE0;
}

#search-btn {
    float: right;
    width: 32px;
    height: 32px;
    margin: 4px;

    border: none;
    background-color: #F3F4F4;
    border-radius: 5px;
}

#search-btn:hover {
    background-color: #d2d2d2;
}

/* 标题logo */
.top-logo {
    height: 60px;
    margin-right: 200px;
}

/* 导航栏右部 */
#app-line {
    margin-right: 40px;
    font-size: 18px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

#app-line a:hover {
    color: #d2d2d2;
}

.quizhide{
    height: 330px !important;
}

#quiz{
    position: absolute;
    background-color: #F3F4F4;
    transform: translateY(25%);
    right: 0;
    width: 500px;
    height: 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 5;
    transition: 0.3s;
}

/* 中间主题内容的外壳 */
.center-shell {
    display: flex;
    width: 2000px;
    height: 100%;
    margin: 0 auto;
    /* background-color: black; */
}

/* 左部区域 */
.left-bar-nav {
    position: fixed;
    width: 400px;
    height: 500px;
    top: 18%;
    left: 15px;
    z-index: 4;
}

#left-form {
    width: 95%;
    height: 100%;
}

.left-nav-box {
    float: left;
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

/* 左部表单提交按钮 */
#left-form-btn {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    background-color: #f9f9f9;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    color: #00bbff;
    border: none;
    user-select: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

#left-form-btn:hover {
    background-color: #05bcff;
    color: #f9f9f9;
}

#left-form-btn:active {
    background-color: #257c9c;
}


.left-nav-content {
    width: 100%;
    height: 42px;
}

.left-nav-icon {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background-color: #f9f9f9;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-family: sans-serif;
    color: #179dce;
    user-select: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.left-form-content {
    float: left;
    margin-left: 20px;
    width: 0;
    overflow: hidden;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 2px solid #05afed;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

/* 用于左侧图标点击变换样式 */
.hidenlist {
    border: 2px solid #F3F4F4;
    width: 250px;
}

.colorchange {
    background-color: #05afed;
    color: #f9f9f9;
}

/* 选择下拉框样式 */
select {
    width: 90%;
    height: 90%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url('../img/downarrow.png');
    background-color: #f9f9f9;
    border-radius: 5px;
    background-size: 17px;
    background-position: 95% center;
    background-repeat: no-repeat;
    border: none;
    outline: none;
}

/* 中间区域的内容 */
.center-content {
    background-color: rgba(59, 192, 244, 0.2);
    height: 1200px;
    width: 75%;
    margin: 70px auto 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transform: translateX(8%);
}

/* 右部区域 */
.right-nav {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 3;
    right: 45px;
    top: 85%;
    text-align: center;
    line-height: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    opacity: 0.8;
}

/* 返回最顶图标 */
.right-nav i {
    margin-top: 7px;
    font-size: 35px;
    color: #00AEEC;
}

/* 底部信息栏 */
.bottom-nav {
    position: fixed;
    width: 100%;
    height: 50px;
    line-height: 50px;
    bottom: 0;
    border-top: 2px solid #00bbff;
    text-align: center;
    color: #e3e3e3;
    font-family: sans-serif;
    background-image: linear-gradient(#00b1f1, #00a6e2);
    z-index: 2;
}

/* 中间区域内容卡片 */
.content-card {
    display: inline-block;
    width: 200px;
    height: 220px;
    margin: 23px;
    border-radius: 10px;
    background-color: rgba(244, 244, 244,0.4);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    /* background-color: aqua; */
    overflow: hidden;
}

.img-box {
    width: 175px;
    height: 175px;
    border-radius: 10px;
    margin: 8px auto;
    overflow: hidden;
}

.img-info {
    width: 180px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-family: sans-serif;
    font-size: 14px;
    color: #00597a;
    /* background-color: yellow; */
    margin: 5px auto 0;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: center;
}