#notice{
    position: absolute;
    display: flex;
    width: 150px;
    height: 200px;
    background-color: rgba(59, 192, 244, 0.2);
    border-radius: 20px;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    text-align: center;
    font-size: 22px;
    color:cornflowerblue;
    font-family: sans-serif;
    align-items: center;
    justify-content: space-around;
}